* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: rgb(199, 173, 231);
    text-align: center;
}

body header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(73, 17, 126);
    color: rgb(226, 215, 240);
    min-height: 100px;
    width: 100%;
}

header .header img {
    height: 40px;
    margin: 10px;
}

header .header h1 {
    /* comment portions for larger size */
    /* flex: 0 1 auto;
    left: 50%;
    transform: translateX(-50%); */
    padding: 20px 0px;
    font-size: 32px;
    margin: 0 auto;
    /* position: absolute; */
}

header nav.navbar {
    background-color: #7953B2;
    width: 100%;
}

header nav.navbar .container-fluid {
    display: flex;
    justify-content: center;
}

header nav.navbar .container-fluid .navbar-toggler {
    border: none;
}

header nav.navbar .navbar-collapse .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin: auto;
}

/* header nav.navbar .container-fluid .navbar-toggler span i.navbar-toggler-icon {
    color:rgb(226, 215, 240);
} */

section {
    padding: 30px 0px;
}

section h2 {
    font-size: 32px;
    padding: 30px;
}

#home {
    padding: 40px 30px 10px 30px;
    font-weight: 500;
    font-size: 24px;
}

#projects .projects {
    padding: 10px;
    display: grid;
    grid-template: repeat(auto-fill) / 1fr;
    gap: 20px;
}

#projects .projects .card {
    width: 18rem;
    margin: auto;
}

#projects .projects .card .card-links {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

#projects .projects .card .card-links .card-link {
    background-color: rgb(73, 17, 126);
    border: none;
}

#about {
    padding: 20px;
    font-size: 18px;
}

#skills ul {
    display: grid;
    gap: 10px;
    grid-template: 1fr / 1fr 1fr 1fr;
    padding: 10px;
}

#skills ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#skills ul li i {
    height: fit-content;
    width: fit-content;
    background-color:rgb(226, 215, 240);
    color:rgb(73, 17, 126);
    padding: 10px;
    margin-bottom: 5px;
}

#contact h2 {
    padding-bottom: 10px;
}

#contact p {
    font-size: 18px;
}

#contact form {
    padding: 20px;
    margin: 0 auto;
}

#contact form .form-group {
    padding: 5px;
}

#contact form button {
    background-color: rgb(73, 17, 126);
    border: none;
}

body footer {
    display: flex;
    min-height: 50px;
    background-color: rgb(73, 17, 126);
    color: rgb(226, 215, 240);
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

footer i.fa-linkedin-square {
    /* color: #0177B5; */
    color: rgb(226, 215, 240);
}


/* to make sure my name is on one line for smaller phones (I only care about down to 300, though) */
@media screen and (max-width: 345px) {
    header .header h1 {
        font-size: 24px;
    }
}

@media screen and (min-width: 768px) {
    #projects .projects {
        grid-template: 1fr / 1fr 1fr;
    }
    header .header h1 {
        position: absolute;
        flex: 0 1 auto;
        left: 50%;
        transform: translateX(-50%)
    }

    #contact form {
        width: 70%;
    }

}

@media screen and (min-width: 1024px) {
    #projects .projects {
        grid-template: 1fr / 1fr 1fr 1fr;
    }

    header nav.navbar.navbar-expand-lg .navbar-collapse .navbar-nav {
        justify-content: space-around;
        font-size: 24px;
        width: 100%;
        margin: 0 25%;
    }

    #contact form {
        width: 50%;
    }
}