* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: rgb(199, 173, 231);
    text-align: center;
}

header {
    display: flex;
    align-items: center;
}

header .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(73, 17, 126);
    color: rgb(199, 173, 231);
    min-height: 100px;
}

header .header img {
    height: 40px;
    margin: 10px;
}

header .header h1 {
    /* comment portions for larger size */
    /* flex: 0 1 auto;
    left: 50%;
    transform: translateX(-50%); */
    padding: 20px 0px;
    font-size: 32px;
    margin: 0 auto;
    /* position: absolute; */
}

header nav.navbar {
    background-color: #7953B2;
}

header nav.navbar .container-fluid {
    display: flex;
    justify-content: center;
}

header nav.navbar .container-fluid .navbar-toggler {
    border: none;
}

header nav.navbar .navbar-collapse .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin: auto;
}

section {
    padding: 30px 0px;
}

section h2 {
    font-size: 32px;
    padding: 30px;
}

#home {
    padding: 40px 30px 10px 30px;
    font-weight: 500;
    font-size: 24px;
}

#projects .projects {
    padding: 10px;
    display: grid;
    grid-template: repeat(auto-fill) / 1fr;
    gap: 20px;
}

#projects .projects .card {
    width: 18rem;
    margin: auto;
}

#projects .projects .card .card-links {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

#projects .projects .card .card-links .card-link {
    background-color: rgb(73, 17, 126);
    border: none;
}

#about {
    padding: 20px;
    font-size: 18px;
}

#contact h2 {
    padding-bottom: 10px;
}

#contact p {
    font-size: 18px;
}

#contact form {
    padding: 20px;
}

#contact form .form-group {
    padding: 5px;
}

#contact form button {
    background-color: rgb(73, 17, 126);
    border: none;
}


/* to make sure my name is on one line for smaller phones (I only care about down to 300, though) */
@media screen and (max-width: 345px) {
    header .header h1 {
        font-size: 24px;
    }
}